html{
    height: 100%;
}


body{
    font-family: 'Open Sans', sans-serif;
    background: url('Images/CryptBackground.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color:white;
}
header{
    text-align: center;
}
.PortraitArea{
    position:relative;
    display:flex;
    justify-content:center;
    margin-left:50px;
    margin-right:50px;
    background-size: cover;
    
}
.TextArea{
    text-align: center;
}
#HUD {
    display:flex;
    justify-content: center;
}
.Menu{
    display:flex;
    justify-content:center;
}
button{
    padding:10px 20px;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}
#CombatArea{
    justify-content:center;
    display:none;
}
#ActionArea{
    display:flex;
    justify-content:center;
    display:none;
}
#BonusActionArea{
    display:none;
}
#SpellArea{
    display:none;
}
#PotionArea{
    display:none;
}
#EnemyHealthBar {
    position:relative;
    left:150px;
}
#HUDText {
    position:relative;
    right:300px;
}

#PopWindow{
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    
}

button{
    background-color: rgb(181, 181, 181);
    color: rgb(0, 0, 0);
    font-weight:400;
    border-width: .3rem;
    border-style:ridge;
    border-bottom-color: rgb(117, 0, 0);
    border-left-color: rgb(100, 0, 0);
}
