
body{
    font-family: 'Open Sans', sans-serif;
    background: url('CoveBackground.png');
    background-position: fixed;
    color:white;
}
header{
    text-align: center;
    margin-top:100px;
}
.PortraitArea{
    display:flex;
    justify-content:center;
    margin-top:150px;
    margin-left:50px;
    margin-right:50px;
}
#PlayerPortrait{
    height:0px;
    width:auto;
}
#EnemyPortrait{
    height: 300px;
    width: auto;
}
.TextArea{
    text-align: center;
}
.ActionArea{
    display:flex;
    justify-content:center;
}
button{
    padding:10px 20px;
    margin-left:100px;
    margin-right:100px
}
