body{
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
}
header{
    text-align: center;
}
.PortraitArea{
    display:flex;
    justify-content:center;
    margin-left:50px;
    margin-right:50px;
}
#PlayerPortrait{
    height:300px;
    width:300px;
}
#EnemyPortrait{
    height: 250px;
    width: 300px;
}
.TextArea{
    text-align: center;
}
.ActionArea{
    background: gray;
    display:flex;
    justify-content:center;
}
button{
    padding:10px 20px;
    margin-left:100px;
    margin-right:100px
}
